.rating-container {
    display: inline-block;
    text-align: center;
    width: 100%; 
    margin-bottom: .5vmin;
  }
  
  .stars-icons {
    cursor: pointer;
    color: #fdd835;
    font-size: 3vmin;
    margin-left: .7vmin;
    margin-right: .7vmin;
  }