.SearchFormPage {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}


.searchIcon {
  color: #4caf50;
  margin-left: 3vmin;
  font-size: 4.5vmin;
  cursor: pointer;
}

.SearchInput {
  color: black;
  padding: 7px;
  font-size: 16px;
  border: 1px solid black;
  border-radius: 4px;
  width: 550px;
  margin-top: 5px;
}
