.UserLogOut {
    font-size: 2.5vmin;
    font-weight: bold;
    color: var(--text-light);
    text-align: center;
    }
    
    .logoutIcon {
      font-size: 3vmin;
      margin-left: 2vmin;
      cursor: pointer;
      color: var(--button-color)
    }

  