

.favorite-movie-container {
  padding: 2.2vmin;
}

.favorite-movie-title {
  font-size: 3.5vmin;
  
}

.sort-movie-option {
  display: flex;
  align-items: center;
  margin-bottom: .5vmin;
  
}

.sort-movie-option label {
  margin-right: 2vmin;
  margin-left: 5vmin;
  color: var(--button-color);
  
}

.sort-movie-option select {
  margin-right: 2vmin;
  border: 1px solid var(--button-color);
}

.favorite-movie-number{
  color: var(--button-color);
}

.movie-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 2.2vmin;
  list-style: none;
  padding: 0;
}

.back-way-icon {
  margin-right: 1vmin;
  color: var(--button-color);
  font-size: 3vmin;
  font-weight: bold;
}

.back-home-title {
  margin: 0;
  color: var(--button-color);
  size: 5vmin;
}

.movie-list-items {
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  position: relative;
  border: .6px solid var(--button-color);
}

.movie-favorite-poster {
  width: 100%; 
  height: auto;
  border-radius: 8px;
  margin-bottom: 1px;
}

.favorite-movie-information {
  flex-grow: 1;
  font-size: 2.5vmin;
  margin: 2vmin;
}

.fontawesome-icons {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 5;
  margin: 0;
  background-color: rgba(8, 7, 16, 0.5); 
}

.fontawesome-edit-icon {
  border-radius: 5px;
  font-size: 3vmin;
  margin-right: 2vmin;
  margin-top: .5vmin;
  color: var(--button-color);
  cursor: pointer;
}

.fontawesome-delete-icon {
  border-radius: 5px;
  font-size: 3vmin;
  margin-right: 2vmin;
  margin-top: .5vmin;
  color: rgb(255, 0, 25);
  cursor: pointer;
}

.link-home-page {
  text-decoration: none;
  display: inline-block;
  font-weight: bold;
  margin-left: 2vmin;
  font-size: 3vmin;
  color: var(--button-color);
}
