.movies-display {
    display: flex;
    justify-content:center;
    align-items: center;
    color: white;
    margin: 0;
    font-family: Inter;
  }

  
  .left-column {
    flex: 1;
  }

  
  .right-column {
    flex: 1;
  }

  .right-column h4 {
    color: var(--button-color);
    margin: 0.2 vmin;
  }

  .right-column li {
    width: 300px;
  }
  
  .movie-title {
    text-align: center;
    font-size: 3vmin;
    margin-bottom: 1.5vmin;
    font-weight: bold;
    font-family: Orbitron;
  }

  .image-movie-cover {
    max-width: 100%;
    height: 350px;
    border-radius: 8px;
    box-shadow: 0 4px 8px white;
  }

  .Details-title {
    color: var(--text-light);
    font-family: 'Orbitron', sans-serif;
    font-weight: 800; /* Medium */
    font-size: 2vmin;
  }
  
  .movie-details {
    color: var(--button-color);
    font-family: 'Inter', sans-serif;
    font-weight: 800; /* Medium */
    font-size: 2vmin;
  }