/* Navbar.module.css */
.NavbarContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2vmin 4vmin;
}

.favoritePageLink {
text-decoration: none;
color: white;
font-size: 3vmin;


}

.leftSection {
  display: flex;
  align-items: center;
}

.rightSection {
  display: flex;
  align-items: center;
}


.profileLink {
  color: var(--button-color);
  margin-right: 20px; 
  text-decoration: none;
  font-weight: bold;
}

  