
.form-signup-container  {
    position: relative; 
    z-index: 1; 
    height: auto;
    width: 400px;
    background-color: var(--background-light);
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid var(--border-color);
    box-shadow: 0 0 40px var(--shadow-color);
    padding: 10px 25px;
    border: 2px solid var(--button-color);
  }
  
  .error-message {
    position: absolute;
    text-align: center;
    color: white;
    margin-left: 25%;
    margin-top: 10px;
  }


  .form-signup-container form * {
    font-family: 'Poppins', sans-serif;
    color: var(--text-light);
    letter-spacing: 0.5px;
    outline: none;
    border: none;

  }
  
  
  .form-signup-container  label {
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: 500;
  }
  
  .form-signup-container input {
    display: block;
    height: 38px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.07);
    border-radius: 3px;
    padding: 0 0px;
    font-size: 14px;
    font-weight: 300;
    color: var(--text-dark);
  }
  
  .form-signup-container input:focus {
    border-color: var(--text-light);
  }
  
  .form-signup-container::placeholder {
    color: var(--placeholder-color);
  }
  
  .form-signup-container input[type="password"] {
    margin-bottom: 10px;
  }