body {
  margin: 0;
  font-family: 'Orbitron', 'Inter', sans-serif; /* Updated font-family */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  body {
    font-family: 'Orbitron', 'Inter', sans-serif;
  }
}

:root {
  --background-color: #080710;
  --background-light: rgba(255, 255, 255, 0.13);
  --border-color: rgba(255, 255, 255, 0.1);
  --shadow-color: rgba(8, 7, 16, 0.6);
  --text1-color: rgb(252, 27, 27) ;
  --text-light: #ffffff;
  --text-dark: #e5e5e5;
  --button-color: #4caf50;
  --placeholder-color: #e5e5e5;
}




 #root {
  height: 100vh;
}



 button, a.button {
  margin-top: 30px;
  width: 100%;
  background-color: var(--text-light);
  color: var(--background-dark);
  padding: 10px 0;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Orbitron', sans-serif;
}

button.btn-md{
max-width: 200px;
padding: .6vmin .8vmin;
font-family: 'Orbitron', sans-serif;
} 


button.btn-sm {
  margin-top: 5px;
  font-size: 1.5vmin;
  padding: .6vmin .8vmin;
  font-family: 'Orbitron', sans-serif;
} 

button.btn-xs {
  margin-top: 30px;
  font-size: 1vmin;
  padding: .4vmin .5vmin;
  font-family: 'Orbitron', sans-serif;
}




