.edit-container {
    max-width: 600px;
    margin: 0 auto;
    overflow-y: auto;
    height: 500px;
  }
  
.edit-form {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  
.edit-label {
    font-weight: bold;
  }
  
  .edit-label input {
    padding: 8px;
    font-size: 14px;
    color: black;
  }
  
.edit-button {
    padding: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
  }
  
 